{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src/"],
      "alias": {
        "components": "./src/components",
        "widgets": "./src/widgets",
      },
      "cwd": "babelrc",
      "extensions": ["js", "jsx"]
    }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}